.credits {
    @apply fixed right-0 left-0 bottom-0 p-[15px] text-right text-[13px] text-white z-[999999];
}

@media (max-width: 992px) {
    .credits {
        text-align: center;
        padding: 10px;
        background: rgba(0, 0, 0, 0.8);
    }
}

.credits a {
    color: #18d26e;
    transition: 0.3s;
}

.credits a:hover {
    @apply text-white;
}