@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    @apply ease-in-out duration-300 relative h-[100vh] flex items-center z-[997] overflow-y-auto;
}

.header *{
    @apply ease-in-out duration-300;
}

.header h1{
    @apply text-5xl font-bold m-0 p-0;
    font-family: "Poppins", sans-serif;
}

.header h1 a, .header h1 a:hover{
    @apply text-white inline-block leading-none;
}

.header h2 {
    @apply text-2xl mt-5 text-gray-300;
}

.header h2 span{
    @apply text-white pb-[6px] border-b-2 border-solid;
    border-color: #18d26e;
}

.header .social-links{
    @apply mt-10 flex;
}

.header .social-links a{
    @apply text-xl flex items-center justify-center
 text-white mr-2 rounded-full w-10 h-10;
background: rgba(255, 255, 255, 0.1);
}

.header .social-links a:hover{
  background: #18d26e;
}

@media (max-width: 992px) {
    .header h1 {
        font-size: 36px;
    }

    .header h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .header .social-links {
        margin-top: 15px;
    }

    .header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Header Top */
.header.header-top {
    @apply h-20 fixed left-0 right-0 top-0;
    background: rgba(0, 0, 0, 0.9);
}

.header.header-top .social-links, .header.header-top h2 {
    @apply hidden;
}

.header.header-top h1{
    @apply mr-auto text-4xl;
}

.header.header-top .container {
    @apply flex items-center;
}

.header.header-top .navbar{
    @apply m-0;
}

@media (max-width: 768px) {
    .header.header-top {
        height: 60px;
    }

    .header.header-top h1 {
        font-size: 26px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    @apply p-0 mt-9;
}

.navbar ul{
    @apply m-0 p-0 flex list-none items-center;
}

.navbar li{
    @apply relative;
}

.navbar li + li{
    @apply ml-[30px];
}

.navbar a, .navbar a:focus{
    @apply flex items-center justify-between p-0
    text-base font-normal whitespace-nowrap;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.navbar a::before{
    content: "";
    @apply absolute w-0 h-[2px] -bottom-1 left-0 
    invisible w-0;
    background-color: #18d26e;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover>a:before, .navbar .active:before {
    @apply visible w-[25px];
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
    @apply text-white;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    @apply text-white text-[28px] cursor-pointer hidden
    fixed right-[15px] top-[15px];
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    @apply fixed overflow-hidden top-0 left-0 right-0 
    bottom-0 z-[999] mt-0; 
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    @apply absolute top-[15px] right-[15px];
}

.navbar-mobile ul {
    @apply block absolute top-[55px] right-[15px]
    bottom-[45px] left-[15px] py-[10px] px-0 overflow-y-auto;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
    @apply py-3 px-5;
}

.navbar-mobile li+li {
    @apply m-0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    @apply text-base relative;
}